  body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #ffffff;
        }
 .video-bca{
  width: 50%;
  max-width: 550px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  display: block;
  margin: 20px auto;


 

 }
        .about-bca {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;
            padding: 60px 40px;
            max-width: 1200px;
            margin: auto;
        }

        .about-bca img {
            width: 320px;
            max-width: 100%;
        }

        .about-content {
            max-width: 600px;
        }

        .about-content h2 {
            font-size: 42px;
            margin-bottom: 20px;
            color: #0a0a3c;
        }

        .about-content h2 span {
            color: red;
        }

        .about-content p {
            font-size: 18px;
            line-height: 1.7;
            color: #0a0a3c;
        }

        /* Responsive */
        @media (max-width: 768px) {
            .about-bca {
                flex-direction: column;
                text-align: center;
            }

            .about-content h2 {
                font-size: 32px;
            }
        }