  body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        /* NAVBAR */
        .navbar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #0c6bca;
            padding:  0px 120px;
            color: white;
            height: 100px;
        }

        .logo {
            font-size: 28px;
            font-weight: bold;
            color: #00ffcc;
        }
        .logo sub{
            color: red;
        }

        .nav-links {
            display: flex;
            gap: 35px;
        }

        .nav-links a {
            color: white;
            text-decoration: none;
            font-size: 20px;
        }

        .nav-links a:hover {
            color: red;
            text-decoration: none;
        }


        /* HAMBURGER */
        .menu-btn {
            display: none;
            font-size: 26px;
            cursor: pointer;
        }
/* navbar ends  */
        /* DRAWER */
        .drawer {
            position: fixed;
            top: 0;
            right: -280px;
            width: 230px;
            height: 100%;
            background-color: #1f2933;
            padding: 20px;
            transition: 0.3s;
        }

        .drawer a {
            display: block;
            color: white;
            text-decoration: none;
            padding: 10px 0;
            border-bottom: 1px solid #444;
        }

        .drawer a:hover {
            color: red;
        }

        .close-btn {
            font-size: 24px;
            color: white;
            cursor: pointer;
            margin-bottom: 20px;
            display: block;
            text-align: right;
        }
/* drawer ends  */

        /* RESPONSIVE */
        @media (max-width: 680px) {
            .nav-links
             {
                display: none;
            }

            .menu-btn {
                display: block;
            }
        }
         